--
-- PostgreSQL database dump
--

\restrict fzZkVI0SL6KF68at6aPbQVfdq2wNDcm29rbX7c6tNGHkned2SJv14OpYh9epWV0

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: myadmin
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO myadmin;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: myadmin
--

COMMENT ON SCHEMA public IS '';


--
-- Name: AccountStatus; Type: TYPE; Schema: public; Owner: myadmin
--

CREATE TYPE public."AccountStatus" AS ENUM (
    'ACTIVE',
    'INACTIVE',
    'SUSPENDED'
);


ALTER TYPE public."AccountStatus" OWNER TO myadmin;

--
-- Name: CoreValueName; Type: TYPE; Schema: public; Owner: myadmin
--

CREATE TYPE public."CoreValueName" AS ENUM (
    'MAKADIYOS',
    'MAKATAO',
    'MAKAKALIKASAN',
    'MAKABANSA'
);


ALTER TYPE public."CoreValueName" OWNER TO myadmin;

--
-- Name: Curriculum; Type: TYPE; Schema: public; Owner: myadmin
--

CREATE TYPE public."Curriculum" AS ENUM (
    'Regular',
    'STE',
    'SPS',
    'SPA',
    'SPJ'
);


ALTER TYPE public."Curriculum" OWNER TO myadmin;

--
-- Name: EnrollmentStatus; Type: TYPE; Schema: public; Owner: myadmin
--

CREATE TYPE public."EnrollmentStatus" AS ENUM (
    'ENROLLED',
    'DROPPED',
    'TRANSFERRED',
    'GRADUATED'
);


ALTER TYPE public."EnrollmentStatus" OWNER TO myadmin;

--
-- Name: EventType; Type: TYPE; Schema: public; Owner: myadmin
--

CREATE TYPE public."EventType" AS ENUM (
    'SCHOOL_EVENT',
    'ACADEMIC_EVENT',
    'COMMUNITY_SERVICE',
    'OTHER'
);


ALTER TYPE public."EventType" OWNER TO myadmin;

--
-- Name: LearningModality; Type: TYPE; Schema: public; Owner: myadmin
--

CREATE TYPE public."LearningModality" AS ENUM (
    'FACE_TO_FACE',
    'DISTANCE_LEARNING',
    'BLENDED',
    'ONLINE',
    'HOMESCHOOL',
    'OTHER'
);


ALTER TYPE public."LearningModality" OWNER TO myadmin;

--
-- Name: QuarterRating; Type: TYPE; Schema: public; Owner: myadmin
--

CREATE TYPE public."QuarterRating" AS ENUM (
    'AO',
    'SO',
    'RO',
    'NO'
);


ALTER TYPE public."QuarterRating" OWNER TO myadmin;

--
-- Name: Region; Type: TYPE; Schema: public; Owner: myadmin
--

CREATE TYPE public."Region" AS ENUM (
    'NCR',
    'CAR',
    'REGION_I',
    'REGION_II',
    'REGION_III',
    'REGION_IV_A',
    'REGION_IV_B',
    'REGION_V',
    'REGION_VI',
    'NIR',
    'REGION_VII',
    'REGION_VIII',
    'REGION_IX',
    'REGION_X',
    'REGION_XI',
    'REGION_XII',
    'REGION_XIII',
    'BARMM'
);


ALTER TYPE public."Region" OWNER TO myadmin;

--
-- Name: SF5ActionTaken; Type: TYPE; Schema: public; Owner: myadmin
--

CREATE TYPE public."SF5ActionTaken" AS ENUM (
    'PROMOTED',
    'CONDITIONAL',
    'RETAINED'
);


ALTER TYPE public."SF5ActionTaken" OWNER TO myadmin;

--
-- Name: SF9GradeItemType; Type: TYPE; Schema: public; Owner: myadmin
--

CREATE TYPE public."SF9GradeItemType" AS ENUM (
    'WRITTEN_WORK',
    'PERFORMANCE_TASK',
    'QUARTERLY_ASSESSMENT'
);


ALTER TYPE public."SF9GradeItemType" OWNER TO myadmin;

--
-- Name: SF9Remarks; Type: TYPE; Schema: public; Owner: myadmin
--

CREATE TYPE public."SF9Remarks" AS ENUM (
    'PASSED',
    'FAILED',
    'INC'
);


ALTER TYPE public."SF9Remarks" OWNER TO myadmin;

--
-- Name: SchoolFormStatus; Type: TYPE; Schema: public; Owner: myadmin
--

CREATE TYPE public."SchoolFormStatus" AS ENUM (
    'DRAFT',
    'GENERATED',
    'SUBMITTED',
    'APPROVED',
    'LOCKED'
);


ALTER TYPE public."SchoolFormStatus" OWNER TO myadmin;

--
-- Name: SchoolFormType; Type: TYPE; Schema: public; Owner: myadmin
--

CREATE TYPE public."SchoolFormType" AS ENUM (
    'SF1',
    'SF5',
    'SF2'
);


ALTER TYPE public."SchoolFormType" OWNER TO myadmin;

--
-- Name: Sex; Type: TYPE; Schema: public; Owner: myadmin
--

CREATE TYPE public."Sex" AS ENUM (
    'MALE',
    'FEMALE'
);


ALTER TYPE public."Sex" OWNER TO myadmin;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Admin; Type: TABLE; Schema: public; Owner: myadmin
--

CREATE TABLE public."Admin" (
    id integer NOT NULL,
    username text NOT NULL,
    password text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    email text NOT NULL,
    "resetToken" text,
    "resetTokenExpiry" timestamp(3) without time zone,
    name text DEFAULT 'Admin'::text NOT NULL,
    "darkMode" boolean DEFAULT false NOT NULL,
    "emailNotifications" boolean DEFAULT true NOT NULL
);


ALTER TABLE public."Admin" OWNER TO myadmin;

--
-- Name: Admin_id_seq; Type: SEQUENCE; Schema: public; Owner: myadmin
--

CREATE SEQUENCE public."Admin_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Admin_id_seq" OWNER TO myadmin;

--
-- Name: Admin_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myadmin
--

ALTER SEQUENCE public."Admin_id_seq" OWNED BY public."Admin".id;


--
-- Name: Announcement; Type: TABLE; Schema: public; Owner: myadmin
--

CREATE TABLE public."Announcement" (
    id integer NOT NULL,
    title text NOT NULL,
    content text NOT NULL,
    "publishedAt" timestamp(3) without time zone,
    "expiresAt" timestamp(3) without time zone,
    "createdById" integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Announcement" OWNER TO myadmin;

--
-- Name: Announcement_id_seq; Type: SEQUENCE; Schema: public; Owner: myadmin
--

CREATE SEQUENCE public."Announcement_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Announcement_id_seq" OWNER TO myadmin;

--
-- Name: Announcement_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myadmin
--

ALTER SEQUENCE public."Announcement_id_seq" OWNED BY public."Announcement".id;


--
-- Name: Event; Type: TABLE; Schema: public; Owner: myadmin
--

CREATE TABLE public."Event" (
    id integer NOT NULL,
    title text NOT NULL,
    description text NOT NULL,
    location text,
    type public."EventType" DEFAULT 'OTHER'::public."EventType" NOT NULL,
    "startDate" timestamp(3) without time zone NOT NULL,
    "endDate" timestamp(3) without time zone,
    "isOnline" boolean DEFAULT false NOT NULL,
    "createdById" integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Event" OWNER TO myadmin;

--
-- Name: Event_id_seq; Type: SEQUENCE; Schema: public; Owner: myadmin
--

CREATE SEQUENCE public."Event_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Event_id_seq" OWNER TO myadmin;

--
-- Name: Event_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myadmin
--

ALTER SEQUENCE public."Event_id_seq" OWNED BY public."Event".id;


--
-- Name: Quarter; Type: TABLE; Schema: public; Owner: myadmin
--

CREATE TABLE public."Quarter" (
    id integer NOT NULL,
    "schoolYearId" integer NOT NULL,
    name integer NOT NULL,
    "startDate" timestamp(3) without time zone NOT NULL,
    "endDate" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Quarter" OWNER TO myadmin;

--
-- Name: Quarter_id_seq; Type: SEQUENCE; Schema: public; Owner: myadmin
--

CREATE SEQUENCE public."Quarter_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Quarter_id_seq" OWNER TO myadmin;

--
-- Name: Quarter_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myadmin
--

ALTER SEQUENCE public."Quarter_id_seq" OWNED BY public."Quarter".id;


--
-- Name: SchoolYear; Type: TABLE; Schema: public; Owner: myadmin
--

CREATE TABLE public."SchoolYear" (
    id integer NOT NULL,
    label text NOT NULL,
    "startDate" timestamp(3) without time zone NOT NULL,
    "endDate" timestamp(3) without time zone NOT NULL,
    "isActive" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "isLocked" boolean DEFAULT false NOT NULL
);


ALTER TABLE public."SchoolYear" OWNER TO myadmin;

--
-- Name: SchoolYear_id_seq; Type: SEQUENCE; Schema: public; Owner: myadmin
--

CREATE SEQUENCE public."SchoolYear_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."SchoolYear_id_seq" OWNER TO myadmin;

--
-- Name: SchoolYear_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myadmin
--

ALTER SEQUENCE public."SchoolYear_id_seq" OWNED BY public."SchoolYear".id;


--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: myadmin
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO myadmin;

--
-- Name: addresses; Type: TABLE; Schema: public; Owner: myadmin
--

CREATE TABLE public.addresses (
    id integer NOT NULL,
    "studentId" integer NOT NULL,
    "streetAddress" text,
    barangay text,
    "municipalityCity" text,
    province text
);


ALTER TABLE public.addresses OWNER TO myadmin;

--
-- Name: addresses_id_seq; Type: SEQUENCE; Schema: public; Owner: myadmin
--

CREATE SEQUENCE public.addresses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.addresses_id_seq OWNER TO myadmin;

--
-- Name: addresses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myadmin
--

ALTER SEQUENCE public.addresses_id_seq OWNED BY public.addresses.id;


--
-- Name: advisers; Type: TABLE; Schema: public; Owner: myadmin
--

CREATE TABLE public.advisers (
    id integer NOT NULL,
    "adviserId" character varying(8) NOT NULL,
    name text NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    "mustChangePassword" boolean DEFAULT true NOT NULL,
    "signatureUrl" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "resetToken" text,
    "resetTokenExpiry" timestamp(3) without time zone,
    "contactNumber" text,
    nationality text,
    sex text,
    "darkMode" boolean DEFAULT false NOT NULL,
    "emailNotifications" boolean DEFAULT true NOT NULL
);


ALTER TABLE public.advisers OWNER TO myadmin;

--
-- Name: advisers_id_seq; Type: SEQUENCE; Schema: public; Owner: myadmin
--

CREATE SEQUENCE public.advisers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.advisers_id_seq OWNER TO myadmin;

--
-- Name: advisers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myadmin
--

ALTER SEQUENCE public.advisers_id_seq OWNED BY public.advisers.id;


--
-- Name: core_values; Type: TABLE; Schema: public; Owner: myadmin
--

CREATE TABLE public.core_values (
    id integer NOT NULL,
    name public."CoreValueName" NOT NULL,
    description text
);


ALTER TABLE public.core_values OWNER TO myadmin;

--
-- Name: core_values_id_seq; Type: SEQUENCE; Schema: public; Owner: myadmin
--

CREATE SEQUENCE public.core_values_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.core_values_id_seq OWNER TO myadmin;

--
-- Name: core_values_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myadmin
--

ALTER SEQUENCE public.core_values_id_seq OWNED BY public.core_values.id;


--
-- Name: enrollment_learning_areas; Type: TABLE; Schema: public; Owner: myadmin
--

CREATE TABLE public.enrollment_learning_areas (
    id integer NOT NULL,
    "enrollmentId" integer NOT NULL,
    "learningAreaId" integer NOT NULL
);


ALTER TABLE public.enrollment_learning_areas OWNER TO myadmin;

--
-- Name: enrollment_learning_areas_id_seq; Type: SEQUENCE; Schema: public; Owner: myadmin
--

CREATE SEQUENCE public.enrollment_learning_areas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.enrollment_learning_areas_id_seq OWNER TO myadmin;

--
-- Name: enrollment_learning_areas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myadmin
--

ALTER SEQUENCE public.enrollment_learning_areas_id_seq OWNED BY public.enrollment_learning_areas.id;


--
-- Name: enrollments; Type: TABLE; Schema: public; Owner: myadmin
--

CREATE TABLE public.enrollments (
    id integer NOT NULL,
    "studentId" integer NOT NULL,
    "sectionId" integer NOT NULL,
    "schoolYear" text NOT NULL,
    "learningModality" public."LearningModality" NOT NULL,
    status public."EnrollmentStatus" DEFAULT 'ENROLLED'::public."EnrollmentStatus" NOT NULL,
    "enrollmentDate" timestamp(3) without time zone,
    remarks text
);


ALTER TABLE public.enrollments OWNER TO myadmin;

--
-- Name: enrollments_id_seq; Type: SEQUENCE; Schema: public; Owner: myadmin
--

CREATE SEQUENCE public.enrollments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.enrollments_id_seq OWNER TO myadmin;

--
-- Name: enrollments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myadmin
--

ALTER SEQUENCE public.enrollments_id_seq OWNED BY public.enrollments.id;


--
-- Name: guardians; Type: TABLE; Schema: public; Owner: myadmin
--

CREATE TABLE public.guardians (
    id integer NOT NULL,
    "studentId" integer NOT NULL,
    "fatherFirstName" text,
    "fatherMiddleName" text,
    "fatherLastName" text,
    "motherMaidenFirstName" text,
    "motherMaidenMiddleName" text,
    "motherMaidenLastName" text,
    "guardianName" text,
    "guardianRelationship" text,
    "guardianContactNumber" text
);


ALTER TABLE public.guardians OWNER TO myadmin;

--
-- Name: guardians_id_seq; Type: SEQUENCE; Schema: public; Owner: myadmin
--

CREATE SEQUENCE public.guardians_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.guardians_id_seq OWNER TO myadmin;

--
-- Name: guardians_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myadmin
--

ALTER SEQUENCE public.guardians_id_seq OWNED BY public.guardians.id;


--
-- Name: learning_areas; Type: TABLE; Schema: public; Owner: myadmin
--

CREATE TABLE public.learning_areas (
    id integer NOT NULL,
    name text NOT NULL,
    "performanceTaskWeight" double precision DEFAULT 0.5 NOT NULL,
    "quarterlyAssessmentWeight" double precision DEFAULT 0.2 NOT NULL,
    "writtenWorkWeight" double precision DEFAULT 0.3 NOT NULL,
    "gradeLevel" integer DEFAULT 7 NOT NULL,
    curriculum public."Curriculum" DEFAULT 'Regular'::public."Curriculum" NOT NULL,
    "adviserId" integer
);


ALTER TABLE public.learning_areas OWNER TO myadmin;

--
-- Name: learning_areas_id_seq; Type: SEQUENCE; Schema: public; Owner: myadmin
--

CREATE SEQUENCE public.learning_areas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.learning_areas_id_seq OWNER TO myadmin;

--
-- Name: learning_areas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myadmin
--

ALTER SEQUENCE public.learning_areas_id_seq OWNED BY public.learning_areas.id;


--
-- Name: school_forms; Type: TABLE; Schema: public; Owner: myadmin
--

CREATE TABLE public.school_forms (
    id integer NOT NULL,
    "sectionId" integer NOT NULL,
    "schoolYear" text NOT NULL,
    type public."SchoolFormType" NOT NULL,
    status public."SchoolFormStatus" DEFAULT 'DRAFT'::public."SchoolFormStatus" NOT NULL,
    "generatedAt" timestamp(3) without time zone,
    "submittedAt" timestamp(3) without time zone,
    "approvedAt" timestamp(3) without time zone,
    "lockedAt" timestamp(3) without time zone,
    "generatedBy" integer,
    "approvedBy" integer
);


ALTER TABLE public.school_forms OWNER TO myadmin;

--
-- Name: school_forms_id_seq; Type: SEQUENCE; Schema: public; Owner: myadmin
--

CREATE SEQUENCE public.school_forms_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.school_forms_id_seq OWNER TO myadmin;

--
-- Name: school_forms_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myadmin
--

ALTER SEQUENCE public.school_forms_id_seq OWNED BY public.school_forms.id;


--
-- Name: schools; Type: TABLE; Schema: public; Owner: myadmin
--

CREATE TABLE public.schools (
    id integer NOT NULL,
    "schoolIdNumber" text NOT NULL,
    "schoolName" text NOT NULL,
    region public."Region" NOT NULL,
    division text NOT NULL,
    district text
);


ALTER TABLE public.schools OWNER TO myadmin;

--
-- Name: schools_id_seq; Type: SEQUENCE; Schema: public; Owner: myadmin
--

CREATE SEQUENCE public.schools_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.schools_id_seq OWNER TO myadmin;

--
-- Name: schools_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myadmin
--

ALTER SEQUENCE public.schools_id_seq OWNED BY public.schools.id;


--
-- Name: sections; Type: TABLE; Schema: public; Owner: myadmin
--

CREATE TABLE public.sections (
    id integer NOT NULL,
    name text NOT NULL,
    "gradeLevel" integer NOT NULL,
    "schoolYear" text NOT NULL,
    curriculum public."Curriculum" DEFAULT 'Regular'::public."Curriculum" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "adviserId" integer,
    "classSize" integer,
    color text,
    schedule jsonb,
    room text
);


ALTER TABLE public.sections OWNER TO myadmin;

--
-- Name: sections_id_seq; Type: SEQUENCE; Schema: public; Owner: myadmin
--

CREATE SEQUENCE public.sections_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sections_id_seq OWNER TO myadmin;

--
-- Name: sections_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myadmin
--

ALTER SEQUENCE public.sections_id_seq OWNED BY public.sections.id;


--
-- Name: sf5_reports; Type: TABLE; Schema: public; Owner: myadmin
--

CREATE TABLE public.sf5_reports (
    id integer NOT NULL,
    "studentId" integer NOT NULL,
    "generalAverage" integer,
    "actionTaken" public."SF5ActionTaken" NOT NULL,
    "learningAreasNotMet" text[]
);


ALTER TABLE public.sf5_reports OWNER TO myadmin;

--
-- Name: sf5_reports_id_seq; Type: SEQUENCE; Schema: public; Owner: myadmin
--

CREATE SEQUENCE public.sf5_reports_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sf5_reports_id_seq OWNER TO myadmin;

--
-- Name: sf5_reports_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myadmin
--

ALTER SEQUENCE public.sf5_reports_id_seq OWNED BY public.sf5_reports.id;


--
-- Name: sf9_core_values; Type: TABLE; Schema: public; Owner: myadmin
--

CREATE TABLE public.sf9_core_values (
    id integer NOT NULL,
    "studentId" integer NOT NULL,
    "coreValueId" integer NOT NULL,
    q1 public."QuarterRating",
    q2 public."QuarterRating",
    q3 public."QuarterRating",
    q4 public."QuarterRating"
);


ALTER TABLE public.sf9_core_values OWNER TO myadmin;

--
-- Name: sf9_core_values_id_seq; Type: SEQUENCE; Schema: public; Owner: myadmin
--

CREATE SEQUENCE public.sf9_core_values_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sf9_core_values_id_seq OWNER TO myadmin;

--
-- Name: sf9_core_values_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myadmin
--

ALTER SEQUENCE public.sf9_core_values_id_seq OWNED BY public.sf9_core_values.id;


--
-- Name: sf9_grade_items; Type: TABLE; Schema: public; Owner: myadmin
--

CREATE TABLE public.sf9_grade_items (
    id integer NOT NULL,
    "sf9GradeId" integer NOT NULL,
    quarter integer NOT NULL,
    type public."SF9GradeItemType" NOT NULL,
    score double precision NOT NULL,
    "maxScore" double precision NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.sf9_grade_items OWNER TO myadmin;

--
-- Name: sf9_grade_items_id_seq; Type: SEQUENCE; Schema: public; Owner: myadmin
--

CREATE SEQUENCE public.sf9_grade_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sf9_grade_items_id_seq OWNER TO myadmin;

--
-- Name: sf9_grade_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myadmin
--

ALTER SEQUENCE public.sf9_grade_items_id_seq OWNED BY public.sf9_grade_items.id;


--
-- Name: sf9_grades; Type: TABLE; Schema: public; Owner: myadmin
--

CREATE TABLE public.sf9_grades (
    id integer NOT NULL,
    "studentId" integer NOT NULL,
    "learningAreaId" integer NOT NULL,
    "schoolYear" text NOT NULL,
    q1 integer,
    q2 integer,
    q3 integer,
    q4 integer,
    "finalRating" integer,
    remarks public."SF9Remarks",
    "q1Ready" boolean DEFAULT false NOT NULL,
    "q2Ready" boolean DEFAULT false NOT NULL,
    "q3Ready" boolean DEFAULT false NOT NULL,
    "q4Ready" boolean DEFAULT false NOT NULL
);


ALTER TABLE public.sf9_grades OWNER TO myadmin;

--
-- Name: sf9_grades_id_seq; Type: SEQUENCE; Schema: public; Owner: myadmin
--

CREATE SEQUENCE public.sf9_grades_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sf9_grades_id_seq OWNER TO myadmin;

--
-- Name: sf9_grades_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myadmin
--

ALTER SEQUENCE public.sf9_grades_id_seq OWNED BY public.sf9_grades.id;


--
-- Name: sf9_summaries; Type: TABLE; Schema: public; Owner: myadmin
--

CREATE TABLE public.sf9_summaries (
    id integer NOT NULL,
    "studentId" integer NOT NULL,
    "schoolYear" text NOT NULL,
    "generalAverage" integer
);


ALTER TABLE public.sf9_summaries OWNER TO myadmin;

--
-- Name: sf9_summaries_id_seq; Type: SEQUENCE; Schema: public; Owner: myadmin
--

CREATE SEQUENCE public.sf9_summaries_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sf9_summaries_id_seq OWNER TO myadmin;

--
-- Name: sf9_summaries_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myadmin
--

ALTER SEQUENCE public.sf9_summaries_id_seq OWNED BY public.sf9_summaries.id;


--
-- Name: students; Type: TABLE; Schema: public; Owner: myadmin
--

CREATE TABLE public.students (
    id integer NOT NULL,
    lrn character varying(12) NOT NULL,
    "firstName" text NOT NULL,
    "middleName" text,
    "lastName" text NOT NULL,
    "nameExtension" text,
    sex public."Sex" NOT NULL,
    "birthDate" date,
    "motherTongue" text,
    "ethnicGroup" text,
    religion text,
    email text,
    "createdByAdviserId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.students OWNER TO myadmin;

--
-- Name: students_id_seq; Type: SEQUENCE; Schema: public; Owner: myadmin
--

CREATE SEQUENCE public.students_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.students_id_seq OWNER TO myadmin;

--
-- Name: students_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myadmin
--

ALTER SEQUENCE public.students_id_seq OWNED BY public.students.id;


--
-- Name: Admin id; Type: DEFAULT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public."Admin" ALTER COLUMN id SET DEFAULT nextval('public."Admin_id_seq"'::regclass);


--
-- Name: Announcement id; Type: DEFAULT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public."Announcement" ALTER COLUMN id SET DEFAULT nextval('public."Announcement_id_seq"'::regclass);


--
-- Name: Event id; Type: DEFAULT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public."Event" ALTER COLUMN id SET DEFAULT nextval('public."Event_id_seq"'::regclass);


--
-- Name: Quarter id; Type: DEFAULT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public."Quarter" ALTER COLUMN id SET DEFAULT nextval('public."Quarter_id_seq"'::regclass);


--
-- Name: SchoolYear id; Type: DEFAULT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public."SchoolYear" ALTER COLUMN id SET DEFAULT nextval('public."SchoolYear_id_seq"'::regclass);


--
-- Name: addresses id; Type: DEFAULT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.addresses ALTER COLUMN id SET DEFAULT nextval('public.addresses_id_seq'::regclass);


--
-- Name: advisers id; Type: DEFAULT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.advisers ALTER COLUMN id SET DEFAULT nextval('public.advisers_id_seq'::regclass);


--
-- Name: core_values id; Type: DEFAULT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.core_values ALTER COLUMN id SET DEFAULT nextval('public.core_values_id_seq'::regclass);


--
-- Name: enrollment_learning_areas id; Type: DEFAULT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.enrollment_learning_areas ALTER COLUMN id SET DEFAULT nextval('public.enrollment_learning_areas_id_seq'::regclass);


--
-- Name: enrollments id; Type: DEFAULT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.enrollments ALTER COLUMN id SET DEFAULT nextval('public.enrollments_id_seq'::regclass);


--
-- Name: guardians id; Type: DEFAULT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.guardians ALTER COLUMN id SET DEFAULT nextval('public.guardians_id_seq'::regclass);


--
-- Name: learning_areas id; Type: DEFAULT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.learning_areas ALTER COLUMN id SET DEFAULT nextval('public.learning_areas_id_seq'::regclass);


--
-- Name: school_forms id; Type: DEFAULT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.school_forms ALTER COLUMN id SET DEFAULT nextval('public.school_forms_id_seq'::regclass);


--
-- Name: schools id; Type: DEFAULT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.schools ALTER COLUMN id SET DEFAULT nextval('public.schools_id_seq'::regclass);


--
-- Name: sections id; Type: DEFAULT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.sections ALTER COLUMN id SET DEFAULT nextval('public.sections_id_seq'::regclass);


--
-- Name: sf5_reports id; Type: DEFAULT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.sf5_reports ALTER COLUMN id SET DEFAULT nextval('public.sf5_reports_id_seq'::regclass);


--
-- Name: sf9_core_values id; Type: DEFAULT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.sf9_core_values ALTER COLUMN id SET DEFAULT nextval('public.sf9_core_values_id_seq'::regclass);


--
-- Name: sf9_grade_items id; Type: DEFAULT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.sf9_grade_items ALTER COLUMN id SET DEFAULT nextval('public.sf9_grade_items_id_seq'::regclass);


--
-- Name: sf9_grades id; Type: DEFAULT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.sf9_grades ALTER COLUMN id SET DEFAULT nextval('public.sf9_grades_id_seq'::regclass);


--
-- Name: sf9_summaries id; Type: DEFAULT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.sf9_summaries ALTER COLUMN id SET DEFAULT nextval('public.sf9_summaries_id_seq'::regclass);


--
-- Name: students id; Type: DEFAULT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.students ALTER COLUMN id SET DEFAULT nextval('public.students_id_seq'::regclass);


--
-- Data for Name: Admin; Type: TABLE DATA; Schema: public; Owner: myadmin
--

COPY public."Admin" (id, username, password, "createdAt", "updatedAt", email, "resetToken", "resetTokenExpiry", name, "darkMode", "emailNotifications") FROM stdin;
1	admin	$2b$10$8pugo08RGrA9vCRhdvDXwO6.ZvQ3URQ2TrjgbXcXmMjQonb/pxUbW	2026-03-29 04:09:26.545	2026-04-17 06:04:31.194	admin@gmail.com	\N	\N	Chris	t	t
\.


--
-- Data for Name: Announcement; Type: TABLE DATA; Schema: public; Owner: myadmin
--



--
-- Data for Name: Event; Type: TABLE DATA; Schema: public; Owner: myadmin
--



--
-- Data for Name: Quarter; Type: TABLE DATA; Schema: public; Owner: myadmin
--

COPY public."Quarter" (id, "schoolYearId", name, "startDate", "endDate") FROM stdin;
5	2	1	2026-03-20 00:00:00	2026-06-19 00:00:00
6	2	2	2026-06-19 00:00:00	2026-09-18 00:00:00
7	2	3	2026-09-18 00:00:00	2026-12-18 00:00:00
8	2	4	2026-12-18 00:00:00	2027-03-19 00:00:00
\.


--
-- Data for Name: SchoolYear; Type: TABLE DATA; Schema: public; Owner: myadmin
--

COPY public."SchoolYear" (id, label, "startDate", "endDate", "isActive", "createdAt", "updatedAt", "isLocked") FROM stdin;
2	2026-2027	2026-03-20 00:00:00	2027-03-20 00:00:00	t	2026-04-29 17:42:30.62	2026-04-29 17:43:01.001	f
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: myadmin
--



--
-- Data for Name: addresses; Type: TABLE DATA; Schema: public; Owner: myadmin
--



--
-- Data for Name: advisers; Type: TABLE DATA; Schema: public; Owner: myadmin
--

COPY public.advisers (id, "adviserId", name, email, password, "mustChangePassword", "signatureUrl", "createdAt", "updatedAt", "resetToken", "resetTokenExpiry", "contactNumber", nationality, sex, "darkMode", "emailNotifications") FROM stdin;
6	12332112	Skusta Clee	skusta@pnhs.edu.ph	$2b$10$fgfS1g0c90HysIjyxeO9B.vMoi5NdmvhyPn28LO6bSWt5p8hyDMGW	t	\N	2026-04-27 07:43:00.574	2026-04-29 15:04:41.235	\N	\N	\N	\N	MALE	f	t
5	12345678	John Cruz	john@gmail.com	$2b$10$qowRjdbrCXw98EcFpM1neuYvnAZd/iKoJ9nu764ZXtwZx3bZmKt6q	f	\N	2026-04-02 09:06:55.698	2026-04-29 15:05:50.709	\N	\N	\N	\N	MALE	f	f
\.


--
-- Data for Name: core_values; Type: TABLE DATA; Schema: public; Owner: myadmin
--

COPY public.core_values (id, name, description) FROM stdin;
\.


--
-- Data for Name: enrollment_learning_areas; Type: TABLE DATA; Schema: public; Owner: myadmin
--

COPY public.enrollment_learning_areas (id, "enrollmentId", "learningAreaId") FROM stdin;
\.


--
-- Data for Name: enrollments; Type: TABLE DATA; Schema: public; Owner: myadmin
--



--
-- Data for Name: guardians; Type: TABLE DATA; Schema: public; Owner: myadmin
--



--
-- Data for Name: learning_areas; Type: TABLE DATA; Schema: public; Owner: myadmin
--



--
-- Data for Name: school_forms; Type: TABLE DATA; Schema: public; Owner: myadmin
--



--
-- Data for Name: schools; Type: TABLE DATA; Schema: public; Owner: myadmin
--

COPY public.schools (id, "schoolIdNumber", "schoolName", region, division, district) FROM stdin;
\.


--
-- Data for Name: sections; Type: TABLE DATA; Schema: public; Owner: myadmin
--



--
-- Data for Name: sf5_reports; Type: TABLE DATA; Schema: public; Owner: myadmin
--

COPY public.sf5_reports (id, "studentId", "generalAverage", "actionTaken", "learningAreasNotMet") FROM stdin;
\.


--
-- Data for Name: sf9_core_values; Type: TABLE DATA; Schema: public; Owner: myadmin
--

COPY public.sf9_core_values (id, "studentId", "coreValueId", q1, q2, q3, q4) FROM stdin;
\.


--
-- Data for Name: sf9_grade_items; Type: TABLE DATA; Schema: public; Owner: myadmin
--

COPY public.sf9_grade_items (id, "sf9GradeId", quarter, type, score, "maxScore", "createdAt") FROM stdin;
\.


--
-- Data for Name: sf9_grades; Type: TABLE DATA; Schema: public; Owner: myadmin
--

COPY public.sf9_grades (id, "studentId", "learningAreaId", "schoolYear", q1, q2, q3, q4, "finalRating", remarks, "q1Ready", "q2Ready", "q3Ready", "q4Ready") FROM stdin;
\.


--
-- Data for Name: sf9_summaries; Type: TABLE DATA; Schema: public; Owner: myadmin
--

COPY public.sf9_summaries (id, "studentId", "schoolYear", "generalAverage") FROM stdin;
\.


--
-- Data for Name: students; Type: TABLE DATA; Schema: public; Owner: myadmin
--



--
-- Name: Admin_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myadmin
--

SELECT pg_catalog.setval('public."Admin_id_seq"', 1, true);


--
-- Name: Announcement_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myadmin
--

SELECT pg_catalog.setval('public."Announcement_id_seq"', 14, true);


--
-- Name: Event_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myadmin
--

SELECT pg_catalog.setval('public."Event_id_seq"', 14, true);


--
-- Name: Quarter_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myadmin
--

SELECT pg_catalog.setval('public."Quarter_id_seq"', 8, true);


--
-- Name: SchoolYear_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myadmin
--

SELECT pg_catalog.setval('public."SchoolYear_id_seq"', 2, true);


--
-- Name: addresses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myadmin
--

SELECT pg_catalog.setval('public.addresses_id_seq', 738, true);


--
-- Name: advisers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myadmin
--

SELECT pg_catalog.setval('public.advisers_id_seq', 6, true);


--
-- Name: core_values_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myadmin
--

SELECT pg_catalog.setval('public.core_values_id_seq', 1, false);


--
-- Name: enrollment_learning_areas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myadmin
--

SELECT pg_catalog.setval('public.enrollment_learning_areas_id_seq', 1, false);


--
-- Name: enrollments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myadmin
--

SELECT pg_catalog.setval('public.enrollments_id_seq', 1298, true);


--
-- Name: guardians_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myadmin
--

SELECT pg_catalog.setval('public.guardians_id_seq', 722, true);


--
-- Name: learning_areas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myadmin
--

SELECT pg_catalog.setval('public.learning_areas_id_seq', 204, true);


--
-- Name: school_forms_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myadmin
--

SELECT pg_catalog.setval('public.school_forms_id_seq', 1751, true);


--
-- Name: schools_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myadmin
--

SELECT pg_catalog.setval('public.schools_id_seq', 1, false);


--
-- Name: sections_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myadmin
--

SELECT pg_catalog.setval('public.sections_id_seq', 613, true);


--
-- Name: sf5_reports_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myadmin
--

SELECT pg_catalog.setval('public.sf5_reports_id_seq', 1, false);


--
-- Name: sf9_core_values_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myadmin
--

SELECT pg_catalog.setval('public.sf9_core_values_id_seq', 1, false);


--
-- Name: sf9_grade_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myadmin
--

SELECT pg_catalog.setval('public.sf9_grade_items_id_seq', 3, true);


--
-- Name: sf9_grades_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myadmin
--

SELECT pg_catalog.setval('public.sf9_grades_id_seq', 11577, true);


--
-- Name: sf9_summaries_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myadmin
--

SELECT pg_catalog.setval('public.sf9_summaries_id_seq', 1, false);


--
-- Name: students_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myadmin
--

SELECT pg_catalog.setval('public.students_id_seq', 1202, true);


--
-- Name: Admin Admin_pkey; Type: CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public."Admin"
    ADD CONSTRAINT "Admin_pkey" PRIMARY KEY (id);


--
-- Name: Announcement Announcement_pkey; Type: CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public."Announcement"
    ADD CONSTRAINT "Announcement_pkey" PRIMARY KEY (id);


--
-- Name: Event Event_pkey; Type: CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public."Event"
    ADD CONSTRAINT "Event_pkey" PRIMARY KEY (id);


--
-- Name: Quarter Quarter_pkey; Type: CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public."Quarter"
    ADD CONSTRAINT "Quarter_pkey" PRIMARY KEY (id);


--
-- Name: SchoolYear SchoolYear_pkey; Type: CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public."SchoolYear"
    ADD CONSTRAINT "SchoolYear_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: addresses addresses_pkey; Type: CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.addresses
    ADD CONSTRAINT addresses_pkey PRIMARY KEY (id);


--
-- Name: advisers advisers_pkey; Type: CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.advisers
    ADD CONSTRAINT advisers_pkey PRIMARY KEY (id);


--
-- Name: core_values core_values_pkey; Type: CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.core_values
    ADD CONSTRAINT core_values_pkey PRIMARY KEY (id);


--
-- Name: enrollment_learning_areas enrollment_learning_areas_pkey; Type: CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.enrollment_learning_areas
    ADD CONSTRAINT enrollment_learning_areas_pkey PRIMARY KEY (id);


--
-- Name: enrollments enrollments_pkey; Type: CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.enrollments
    ADD CONSTRAINT enrollments_pkey PRIMARY KEY (id);


--
-- Name: guardians guardians_pkey; Type: CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.guardians
    ADD CONSTRAINT guardians_pkey PRIMARY KEY (id);


--
-- Name: learning_areas learning_areas_pkey; Type: CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.learning_areas
    ADD CONSTRAINT learning_areas_pkey PRIMARY KEY (id);


--
-- Name: school_forms school_forms_pkey; Type: CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.school_forms
    ADD CONSTRAINT school_forms_pkey PRIMARY KEY (id);


--
-- Name: schools schools_pkey; Type: CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.schools
    ADD CONSTRAINT schools_pkey PRIMARY KEY (id);


--
-- Name: sections sections_pkey; Type: CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.sections
    ADD CONSTRAINT sections_pkey PRIMARY KEY (id);


--
-- Name: sf5_reports sf5_reports_pkey; Type: CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.sf5_reports
    ADD CONSTRAINT sf5_reports_pkey PRIMARY KEY (id);


--
-- Name: sf9_core_values sf9_core_values_pkey; Type: CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.sf9_core_values
    ADD CONSTRAINT sf9_core_values_pkey PRIMARY KEY (id);


--
-- Name: sf9_grade_items sf9_grade_items_pkey; Type: CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.sf9_grade_items
    ADD CONSTRAINT sf9_grade_items_pkey PRIMARY KEY (id);


--
-- Name: sf9_grades sf9_grades_pkey; Type: CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.sf9_grades
    ADD CONSTRAINT sf9_grades_pkey PRIMARY KEY (id);


--
-- Name: sf9_summaries sf9_summaries_pkey; Type: CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.sf9_summaries
    ADD CONSTRAINT sf9_summaries_pkey PRIMARY KEY (id);


--
-- Name: students students_pkey; Type: CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_pkey PRIMARY KEY (id);


--
-- Name: Admin_email_key; Type: INDEX; Schema: public; Owner: myadmin
--

CREATE UNIQUE INDEX "Admin_email_key" ON public."Admin" USING btree (email);


--
-- Name: Admin_resetToken_key; Type: INDEX; Schema: public; Owner: myadmin
--

CREATE UNIQUE INDEX "Admin_resetToken_key" ON public."Admin" USING btree ("resetToken");


--
-- Name: Admin_username_key; Type: INDEX; Schema: public; Owner: myadmin
--

CREATE UNIQUE INDEX "Admin_username_key" ON public."Admin" USING btree (username);


--
-- Name: Quarter_schoolYearId_name_key; Type: INDEX; Schema: public; Owner: myadmin
--

CREATE UNIQUE INDEX "Quarter_schoolYearId_name_key" ON public."Quarter" USING btree ("schoolYearId", name);


--
-- Name: SchoolYear_label_key; Type: INDEX; Schema: public; Owner: myadmin
--

CREATE UNIQUE INDEX "SchoolYear_label_key" ON public."SchoolYear" USING btree (label);


--
-- Name: addresses_studentId_key; Type: INDEX; Schema: public; Owner: myadmin
--

CREATE UNIQUE INDEX "addresses_studentId_key" ON public.addresses USING btree ("studentId");


--
-- Name: advisers_adviserId_key; Type: INDEX; Schema: public; Owner: myadmin
--

CREATE UNIQUE INDEX "advisers_adviserId_key" ON public.advisers USING btree ("adviserId");


--
-- Name: advisers_email_key; Type: INDEX; Schema: public; Owner: myadmin
--

CREATE UNIQUE INDEX advisers_email_key ON public.advisers USING btree (email);


--
-- Name: advisers_resetToken_key; Type: INDEX; Schema: public; Owner: myadmin
--

CREATE UNIQUE INDEX "advisers_resetToken_key" ON public.advisers USING btree ("resetToken");


--
-- Name: enrollment_learning_areas_enrollmentId_learningAreaId_key; Type: INDEX; Schema: public; Owner: myadmin
--

CREATE UNIQUE INDEX "enrollment_learning_areas_enrollmentId_learningAreaId_key" ON public.enrollment_learning_areas USING btree ("enrollmentId", "learningAreaId");


--
-- Name: enrollments_studentId_schoolYear_key; Type: INDEX; Schema: public; Owner: myadmin
--

CREATE UNIQUE INDEX "enrollments_studentId_schoolYear_key" ON public.enrollments USING btree ("studentId", "schoolYear");


--
-- Name: guardians_studentId_key; Type: INDEX; Schema: public; Owner: myadmin
--

CREATE UNIQUE INDEX "guardians_studentId_key" ON public.guardians USING btree ("studentId");


--
-- Name: learning_areas_name_gradeLevel_curriculum_key; Type: INDEX; Schema: public; Owner: myadmin
--

CREATE UNIQUE INDEX "learning_areas_name_gradeLevel_curriculum_key" ON public.learning_areas USING btree (name, "gradeLevel", curriculum);


--
-- Name: school_forms_sectionId_schoolYear_type_key; Type: INDEX; Schema: public; Owner: myadmin
--

CREATE UNIQUE INDEX "school_forms_sectionId_schoolYear_type_key" ON public.school_forms USING btree ("sectionId", "schoolYear", type);


--
-- Name: schools_schoolIdNumber_key; Type: INDEX; Schema: public; Owner: myadmin
--

CREATE UNIQUE INDEX "schools_schoolIdNumber_key" ON public.schools USING btree ("schoolIdNumber");


--
-- Name: sections_schoolYear_gradeLevel_name_key; Type: INDEX; Schema: public; Owner: myadmin
--

CREATE UNIQUE INDEX "sections_schoolYear_gradeLevel_name_key" ON public.sections USING btree ("schoolYear", "gradeLevel", name);


--
-- Name: sf9_core_values_studentId_coreValueId_key; Type: INDEX; Schema: public; Owner: myadmin
--

CREATE UNIQUE INDEX "sf9_core_values_studentId_coreValueId_key" ON public.sf9_core_values USING btree ("studentId", "coreValueId");


--
-- Name: sf9_grades_studentId_learningAreaId_schoolYear_key; Type: INDEX; Schema: public; Owner: myadmin
--

CREATE UNIQUE INDEX "sf9_grades_studentId_learningAreaId_schoolYear_key" ON public.sf9_grades USING btree ("studentId", "learningAreaId", "schoolYear");


--
-- Name: sf9_summaries_studentId_schoolYear_key; Type: INDEX; Schema: public; Owner: myadmin
--

CREATE UNIQUE INDEX "sf9_summaries_studentId_schoolYear_key" ON public.sf9_summaries USING btree ("studentId", "schoolYear");


--
-- Name: students_email_key; Type: INDEX; Schema: public; Owner: myadmin
--

CREATE UNIQUE INDEX students_email_key ON public.students USING btree (email);


--
-- Name: students_lrn_key; Type: INDEX; Schema: public; Owner: myadmin
--

CREATE UNIQUE INDEX students_lrn_key ON public.students USING btree (lrn);


--
-- Name: Announcement Announcement_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public."Announcement"
    ADD CONSTRAINT "Announcement_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public."Admin"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Event Event_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public."Event"
    ADD CONSTRAINT "Event_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public."Admin"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Quarter Quarter_schoolYearId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public."Quarter"
    ADD CONSTRAINT "Quarter_schoolYearId_fkey" FOREIGN KEY ("schoolYearId") REFERENCES public."SchoolYear"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: addresses addresses_studentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.addresses
    ADD CONSTRAINT "addresses_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES public.students(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: enrollment_learning_areas enrollment_learning_areas_enrollmentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.enrollment_learning_areas
    ADD CONSTRAINT "enrollment_learning_areas_enrollmentId_fkey" FOREIGN KEY ("enrollmentId") REFERENCES public.enrollments(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: enrollment_learning_areas enrollment_learning_areas_learningAreaId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.enrollment_learning_areas
    ADD CONSTRAINT "enrollment_learning_areas_learningAreaId_fkey" FOREIGN KEY ("learningAreaId") REFERENCES public.learning_areas(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: enrollments enrollments_sectionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.enrollments
    ADD CONSTRAINT "enrollments_sectionId_fkey" FOREIGN KEY ("sectionId") REFERENCES public.sections(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: enrollments enrollments_studentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.enrollments
    ADD CONSTRAINT "enrollments_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES public.students(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: guardians guardians_studentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.guardians
    ADD CONSTRAINT "guardians_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES public.students(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: learning_areas learning_areas_adviserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.learning_areas
    ADD CONSTRAINT "learning_areas_adviserId_fkey" FOREIGN KEY ("adviserId") REFERENCES public.advisers(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: school_forms school_forms_sectionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.school_forms
    ADD CONSTRAINT "school_forms_sectionId_fkey" FOREIGN KEY ("sectionId") REFERENCES public.sections(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: sections sections_adviserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.sections
    ADD CONSTRAINT "sections_adviserId_fkey" FOREIGN KEY ("adviserId") REFERENCES public.advisers(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: sf5_reports sf5_reports_studentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.sf5_reports
    ADD CONSTRAINT "sf5_reports_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES public.students(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: sf9_core_values sf9_core_values_coreValueId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.sf9_core_values
    ADD CONSTRAINT "sf9_core_values_coreValueId_fkey" FOREIGN KEY ("coreValueId") REFERENCES public.core_values(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: sf9_core_values sf9_core_values_studentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.sf9_core_values
    ADD CONSTRAINT "sf9_core_values_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES public.students(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: sf9_grade_items sf9_grade_items_sf9GradeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.sf9_grade_items
    ADD CONSTRAINT "sf9_grade_items_sf9GradeId_fkey" FOREIGN KEY ("sf9GradeId") REFERENCES public.sf9_grades(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: sf9_grades sf9_grades_learningAreaId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.sf9_grades
    ADD CONSTRAINT "sf9_grades_learningAreaId_fkey" FOREIGN KEY ("learningAreaId") REFERENCES public.learning_areas(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: sf9_grades sf9_grades_studentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.sf9_grades
    ADD CONSTRAINT "sf9_grades_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES public.students(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: sf9_summaries sf9_summaries_studentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.sf9_summaries
    ADD CONSTRAINT "sf9_summaries_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES public.students(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: students students_createdByAdviserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myadmin
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT "students_createdByAdviserId_fkey" FOREIGN KEY ("createdByAdviserId") REFERENCES public.advisers("adviserId") ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: myadmin
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict fzZkVI0SL6KF68at6aPbQVfdq2wNDcm29rbX7c6tNGHkned2SJv14OpYh9epWV0

